@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  transition: left 0.3s ease;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo {
  text-decoration: none;
}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.navbar a {
  color: #000;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: #049696;
}

.hero-section {
  height: 100vh;
  /* background-image: url("image.png"); */
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero-section .content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: black;
  text-align: center;
  margin-bottom: 100px;
}

#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#hamburger-button-btn {
  color: #000;
  cursor: pointer;
  display: none;
}
.log-sig-btn {
  display: flex;
  gap: 10px;
}
/* media sections */
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar .logo {
    font-size: 1.7rem;
  }

  #hamburger-button-btn, #close-menu-btn {
    display: block;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    flex-direction: column;
    padding: 70px 40px 0;
    background-color: #fff;
    transition: left 0.3s ease;
  }
  .log-sig-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  .log-sig-btn li {
    display: block;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: #000;
  }

  .hero-section .content {
    text-align: center;
  }

  
}
