body {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    color: rgb(4, 150, 150);
}

/* teal-border button */
.teal-border {
    color: rgb(4, 150, 150);
    background-color: transparent;
    border: 1.5px solid rgb(4, 150, 150);
    font-weight: bold;
    font-size: 10px;
    border-radius: 6px;
}
.teal-border:hover {
    color: rgb(4, 150, 150);
    background-color: transparent;
    border: 1.5px solid transparent;
    font-weight: bold;
    font-size: 10px;
    border-radius: 6px;
}
/* teal-border button */

/* teal-full button */
.teal-full {
    color: rgb(252, 252, 252);
    background-color: rgb(4, 150, 150);
    border: 1.5px solid rgb(4, 150, 150);
    font-size: 10px;
    font-weight: bold;
    border-radius: 6px;
}
.teal-full:hover {
    color: rgb(4, 150, 150);
    background-color: transparent;
    border: 1.5px solid transparent;
    font-weight: bold;
    font-size: 10px;
    border-radius: 6px;
}
/* teal-full button */
.login-btn, .signup-{
    margin-top: 5px;
}
.login-card,.signup-card{
    width: 250px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}
.signup-btn{
    margin: top 10px;
}