{% extends "base.html" %}
{% load bootstrap3 %}
{% block heading %}
    | Signup
{% endblock  %}

{% block btn %}

{% endblock %}                      

{% block content %}
<div class="card signup-card">
    <div class="signup-form">
        <h1>Sign Up</h1>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="signup-buttons">
                <a href="{% url 'home' %}" class="btn teal-border">Cancel</a>
                <input type="submit" class="btn teal-full" value="Sign Up">    
            </div>
        </form>
    </div>
</div>
{% endblock %}
