<!-- 
My colours
    Yellow-Green #a4c423
    Teal #049696
    Tarquise #00D7C1

Git Hub commands
    git checkout -b companyx (If I get this error: error: failed to push some refs to 'https://github.com/thomasmbatha/companyx.git)
    git add . 
    git commit -m "work 02-05-2024_14:42"
    git push -u origin companyx

    git fetch origin
    git reset --hard origin/companyx
    git pull origin company
-->

{% comment %}  {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %}  {% endcomment %}
<style>
  
main {
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  color: rgb(4, 150, 150);
}

/* teal-border button */
.btn.teal-border {
  color: #049696;
  background-color: transparent;
  border: 1.5px solid #049696;
  border-radius: 6px;
  font-size: 0.7rem;
  text-align: center;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 65px;    
}
.btn.teal-border:hover {
  color: rgb(4, 150, 150);
  background-color: transparent;
  border: 1.5px solid transparent;
  font-size: 0.7rem;
  border-radius: 6px;
  text-align: center;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 6px;
  width: 65px;
}
@media (min-width: 200px) {
  .btn.teal-border {
    font-size: 0.7rem;
    width: 65px;
    text-align: center;
  }
}
/* teal-border button */

/* teal-full button */
.btn.teal-full {
  color: rgb(252, 252, 252);
  background-color: rgb(4, 150, 150);
  border: 1.5px solid rgb(4, 150, 150);
  border-radius: 6px;
  font-size: 0.7rem;
  text-align: center;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 65px;
}
.btn.teal-full:hover {
  color: rgb(4, 150, 150);
  background-color: transparent;
  border: 1.5px solid transparent;
  font-size: 0.7rem;
  text-align: center;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 6px;
  width: 65px;
}
@media (min-width: 200px) {
.btn.teal-full {
    font-size: 0.7rem;
    width: 65px;
    text-align: center;
  }
}
/* teal-full button */

/* turquoise-full button */
.btn.turquoise-border {
color: rgb(252, 252, 252);
color: #00d7c1;
border: 2px solid rgb(0, 215, 193);
border-radius: 6px;
font-size: 0.7rem;
font-weight: bold;
text-align: center;
text-anchor: middle;
user-select: none;
width: 165px;
}
.btn.turquoise-border:hover {
color: rgb(0, 215, 193);
background-color: transparent;
border: 2px solid transparent;
font-size: 1rem;
font-weight: bold;
text-align: center;
text-anchor: middle;
user-select: none;
border-radius: 6px;
width: 165px;
}
@media (min-width: 200px) {
.btn.turquoise-border {
  font-size: 1rem;
  font-weight: bold;
  width: 165px;
  text-align: center;
}
}
/* turquoise-full button */
.login-btn, .signup-{
  margin-top: 5px;
}
/* card */
.login-card,.signup-card{
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .login-card,.signup-card {
      width: 100%; /* Adjust width to 100% on screens larger than 768px */
  }
}
/* card */
.signup-btn{
  margin: top 10px;
}

/* jumbothron */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/* card-marketing index.html */
.card-marketing .item h1 {
color: #00D7C1;
font-size: 80px;
font-weight: bold;
}
.card-marketing .item p{
color: black;
font-size: 20px;
}

.card-marketing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* card-marketing index.html */

/* video_background */
.navbar-background{
  display: flex;
  position: relative;
  overflow: hidden;
  min-height: 75vh;
}
.video-bg{
  position: absolute;
  z-index: -1;
  top: 50;
  left: 50;
  transform: translate(-50%,);
  min-width: 100%;
  min-height: 100%;
}
/* video_background */
.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: flex-start; /* Align items to the top */
}

</style>